<h2><%= t('.title') %></h2>
<table>
  <%= render cart.line_items %>
  <tr class="total_line">
    <td colspan="2">
      Total
    </td>
    <td class="total_cell">
      <%= number_to_currency cart.total_price %>
    </td>
    <td></td>
  </tr>
</table>

<%= button_to t('.checkout'), new_order_path, method: :get %>
<%= button_to t('.empty'), cart, method: :delete, data: {confirm: 'Are you sure?'} %>
