<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1><%= t('.title_html') %></h1>

<% if @visit_times >= 5 %>
    <div>
      You are visited catalog <%= @visit_times %> <%= 'time'.pluralize %>
    </div>
<% end %>

<% @products.each do |product| %>
    <div class="entry">
      <%= image_tag(product.image_url) %>
      <h3><%= product.title %></h3>
      <%= sanitize(product.description) %>
      <div class="price_line">
        <span class="price"><%= number_to_currency(product.price, separator: ' ') %></span>
        <%= button_to 'Add to cart', line_items_path(product_id: product), remote: true %>
      </div>
    </div>
<% end %>
