<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div id="banner">
  <%= form_tag store_path, class: 'locale' do %>
      <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
      <%= submit_tag 'submit' %>
      <%= javascript_tag '$(".locale input").hide()' %>
  <% end %>
  <%= image_tag("logo.png") %>
  <%= @page_title || link_to(t('.title'), '/') %>
</div>
<div id="columns">
  <div id="side">
    <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
            <%= render @cart %>
        <% end %>
        <% end %>
    <ul>
      <li><a href="http://www...."><%= t('.home') %></a></li>
      <li><a href="http://www..../faq"><%= t('.questions') %></a></li>
      <li><a href="http://www..../news"><%= t('.news') %></a></li>
      <li><a href="http://www..../contact"><%= t('.contacts') %></a></li>
    </ul>

    <% if session[:user_id] %>
        <ul>
          <li><%= link_to 'Orders', orders_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Users', users_path %></li>
        </ul>

        <%= button_to 'Log out', logout_path, method: :delete %>
    <% end %>
    <div class="time">
      <%= Time.now.strftime('%D - %H:%M') %>
    </div>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
</body>
</html>
